<mat-dialog-content>
  <header class="header">
    <h2 class="modal-title">Detalhes do processo</h2>
    <mat-icon (click)="close()">close</mat-icon>
  </header>

  <div class="row">
    <label class="title-section">Processo</label>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let field of fieldsProcess">
        <label class="title">{{ field.label }}</label>
        <label class="value" *ngIf="field.value === undefined"><mat-icon matTooltip="Não disponível em seu plano." matTooltipPosition="right">lock</mat-icon></label>
        <label class="value" *ngIf="field.value !== undefined">{{ field.value || '-' }}</label>
      </div>
      <!-- Preenchimento para manter a estrutura de 3 colunas -->
      <div *ngIf="fieldsProcess.length % 3 === 1" class="grid-item placeholder"></div>
      <div *ngIf="fieldsProcess.length % 3 === 2" class="grid-item placeholder"></div>
    </div>
  </div>

  <div class="row">
    <label class="title-section">Cliente</label>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let field of fieldsClient">
        <label class="title">{{ field.label }}</label>
        <label class="value" *ngIf="field.value === undefined"><mat-icon matTooltip="Não disponível em seu plano." matTooltipPosition="right">lock</mat-icon></label>
        <label class="value" *ngIf="field.value !== undefined">{{ field.value || '-' }}</label>
      </div>
      <!-- Preenchimento para manter a estrutura de 3 colunas -->
      <div *ngIf="fieldsClient.length % 3 === 1" class="grid-item placeholder"></div>
      <div *ngIf="fieldsClient.length % 3 === 2" class="grid-item placeholder"></div>
    </div>
  </div>

  <div class="row">
    <label class="title-section">Veículo</label>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let field of fieldsVehicle">
        <label class="title">{{ field.label }}</label>
        <label class="value" *ngIf="field.value === undefined"><mat-icon matTooltip="Não disponível em seu plano." matTooltipPosition="right">lock</mat-icon></label>
        <label class="value" *ngIf="field.value !== undefined">{{ field.value || '-' }}</label>
      </div>
      <!-- Preenchimento para manter a estrutura de 3 colunas -->
      <div *ngIf="fieldsVehicle.length % 3 === 1" class="grid-item placeholder"></div>
      <div *ngIf="fieldsVehicle.length % 3 === 2" class="grid-item placeholder"></div>
    </div>
  </div>

</mat-dialog-content>
