.container {
  padding: 32px;
  background: #F3F4F6;
  min-height: 100%;

  .body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 960px) {
  .container {
    padding: 20px 16px;
  }
}
