<div class="container">
  <app-header [info]="header"></app-header>

  <div class="body" *ngIf="!isLoading">
    <div class="filter-container" *ngIf="processesObtained.length > 0">
      <app-filters-processes-obtained 
        (filtersSelected)="filterByProcessNumber($event)" 
        (exportClicked)="exportExcel()" 
        [processesObtained]="processesObtained.length > 0">
      </app-filters-processes-obtained>
    </div>
    
    <div class="table-container" *ngIf="processesObtained.length > 0">
      <app-table-processes-obtained [processes]="filteredProcesses" (postNewStatusEmit)="postNewStatus($event)"></app-table-processes-obtained>
    </div>

    <div *ngIf="processesObtained.length === 0" class="empty">
      Nenhum processo encontrado.
    </div>
  </div>
</div>
