.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-direction: column;

  .welcome-card {
    max-width: 600px;
    padding: 40px;
    text-align: center;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;

      span {
        color: #3f51b5;
      }
    }

    .subtitle {
      font-size: 18px;
      margin-bottom: 30px;
      color: #555;
    }
  }

}


.plus-alert {
  max-width: 750px;
  margin-top: 40px;
  padding: 20px 30px;
  border-radius: 12px;
  background-color: #f0f4ff;
  border-left: 6px solid #3f51b5;
  color: #333;
  font-size: 12px;
  line-height: 1;
  text-align: left;

  h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;

    span {
      color: #3f51b5;
    }
  }

  strong {
    color: #2a74e1;
  }

  em {
    font-style: italic;
    color: #444;
  }

  .small-note {
    margin-top: 10px;
    font-size: 13px;
    color: #555;
  }
}
