.custom-table {
  width: 100%;
  border-collapse: collapse;

  .tbodyEmpty {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;

  .loading-card {
    max-width: 600px;
    padding: 40px;
    text-align: center;

    .subtitle {
      font-size: 18px;
      color: #555;
      animation: pulse 1.5s infinite;
    }
  }
}

.custom-table thead {
  background: #1F7146;
  color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table td {
  font-size: 12px;
  width: 100%;

  .see-more {
    cursor: pointer;
    text-align: center;
    display: flex;
  }

  .see-more:hover {
    color: #1F7146;
    text-decoration: underline;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  ::ng-deep .mat-mdc-select-min-line {
    font-size: 12px !important;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }

  ::ng-deep .mat-mdc-form-field {
    --mdc-text-field-container-height: 12px !important;
    font-size: 10px !important;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    padding: 2px 0 !important;
    min-height: 8px !important;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
    display: none !important;
  }

  ::ng-deep .mat-mdc-input-element {
    height: 8px !important;
    line-height: 0.4 !important;
  }

  ::ng-deep .mdc-notched-outline__notch {
    min-height: 8px !important;
  }

  ::ng-deep .mat-mdc-form-field .mdc-floating-label {
    font-size: 10px !important;
  }

  ::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    font-size: 11px !important;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .disabled .mat-mdc-select {
    border-color: #ccc !important;
    color: #999 !important;
  }
}

.custom-table th {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;

  .flex {
    display: flex;
  }
}

.pagination {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  gap: 8px;

  button {
    padding: 6px 12px;
    background: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: #2ECC71;
      color: white;
      font-weight: bold;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

th.sorted::after {
  content: '▲';
  margin-left: 5px;
  font-size: 5px;
}

th.sorted.desc::after {
  content: '▼';
}

.sortable-icon {
  font-size: 12px;
  vertical-align: top;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out, transform 0.2s;
  height: 12px;
  margin: auto 0 auto 6px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &.active {
    opacity: 1;
    transform: scale(1.05);
  }
}

.truncate {
  display: inline-block;      /* ou block */
  max-width: 200px;           /* Defina a largura que corresponde a 30 caracteres */
  white-space: nowrap;        /* Impede quebra de linha */
  overflow: hidden;           /* Oculta o excesso */
  text-overflow: ellipsis;    /* Adiciona os "..." */
}

.empty-state {
  margin-top: 24px;
  text-align: center;
  color: #777;
}

.status-wrapper {
  width: 65% !important;
  display: flex !important;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
